
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="/static/styles.css">
    <title>AI-Vehicle Classfier</title>
</head>
<body>
    <div class="nav-container">
        <a id="Dashboard" class="nav-links nav-links-btn">Dashboard</a>
        <nav class="navbar">
            <h1 id="navbar-logo">AI-Vede</h1>
            <div class="menu-toggle" id="mobile-menu">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
            <ul class="nav-menu">

                <li><a href="#About" class="nav-links nav-links-btn">About</a></li>
                <li><a href="#Real Time" class="nav-links">Real time</a></li>
                <li><a href="#Team Member" class="nav-links">Team</a></li>
                <li><a href="#Contact" class="nav-links nav-links-btn">Contact</a></li>
            </ul>
        </nav>
    </div>

    <div class="main">
        <div class="main-container">
            <div class="main-content">
                <h1>Hi，AI-VeDe</h1>
                <p>Artificial intelligence vehicle detector. Through the LiDAR camera and bird-view camera. Apply to robotic applications and AI-driving.</p>
                <button class="main-btn"><a href="#">Welcome</a></button>
            </div>
            <div class="main-img-container">
                <img src="images/point cloud.svg" alt="" id="main-image">
            </div>
        </div>
    </div>

   <!-- end of main page  -->



    <!-- start of About page  -->

        <div class="services-section">
        <a href="#Dashboard" class="nav-links nav-links-btn">Dashboard</a>
        <div class="services-heading">
            <h1 id="About">About</h1>
        </div>

        <div class="services">
            <div class="services-cell">
                <img src="images/light gray.jpg" alt="" class="services-cell_img">
                <div class="services-cell_text">
                    Data Base
                    <p style='font-size:xx-small;'>Labeling data, design database, Design ERD diagram for database that including vehicle and  detection zone information, calculate the vehicle speed based on 3D LiDAR point cloud data</p>

                </div>

            </div>

            <div class="services-cell">
                <img src="images/light gray.jpg" alt="" class="services-cell_img">
                <div class="services-cell_text">
                    Machine Learning
                    <p style="font-size: xx-small;">Training model to predict an object,Accepting the data, Grouping the data,Filtering out unnecessary data, Classifying Data into descriptive shapes for object recognition</p>
                </div>
            </div>

            <div class="services-cell">
                <img src="images/light gray.jpg" alt="" class="services-cell_img">
                <div class="services-cell_text">
                    Camera Setup
                    <p style="font-size: xx-small;">Set up the camera on a car to collect data, participate design part for LiDAR and set up 2D camera top of LiDAR Casing.</p>
                </div>
            </div>

            <div class="services-cell">
                <img src="images/light gray.jpg" alt="" class="services-cell_img">
                <div class="services-cell_text">
                    Front end
                    <p style="font-size: xx-small;">Design GUI and generate the website</p>
                </div>
            </div>

            <div class="services-cell">
                <img src="images/light gray.jpg" alt="" class="services-cell_img">
                <div class="services-cell_text">
                    Back end
                    <p style='font-size:xx-small;'>Connect database and ML model,frontend, retrieve data, Integrating CSS\HTML\Javascript to Flask, integrate machine learning model to Flask.</p>
                </div>
            </div>

            <div class="services-cell">
                <img src="images/light gray.jpg" alt="" class="services-cell_img">
                <div class="services-cell_text">
                    Real Time Traffic Flow
                    <p style="font-size: xx-small;">system can input rapidly changing data and then provide output instantaneously</p>
                </div>
            </div>
        </div>
    </div>


    <!-- end of About page  -->

    <!-- start of team -->

    <div class="services-section-2">
    <a href="#Dashboard" class="nav-links nav-links-btn">Dashboard</a>
    <div class="services-heading-2">
        <h1 id="Team Member">Team Member</h1>
    </div>

    <div class="services">
        <div class="services-cell">
            <img src="images/light gray.jpg" alt="" class="services-cell_img">
            <div class="services-cell_text">Xudong Jia</div>
        </div>

        <div class="services-cell">
            <img src="images/light gray.jpg" alt="" class="services-cell_img">
            <div class="services-cell_text">Bingbing Li</div>
        </div>

        <div class="services-cell">
            <img src="images/light gray.jpg" alt="" class="services-cell_img">
            <div class="services-cell_text">Xunfei Jiang</div>
        </div>

        <div class="services-cell">
            <img src="images/light gray.jpg" alt="" class="services-cell_img">
            <div class="services-cell_text">Tongzi Wu</div>
        </div>

        <div class="services-cell">
            <img src="images/light gray.jpg" alt="" class="services-cell_img">
            <div class="services-cell_text">Chen Li</div>
        </div>


        <div class="services-cell">
            <img src="images/light gray.jpg" alt="" class="services-cell_img">
            <div class="services-cell_text">Senior Design Team</div>
        </div>
        </div>
    </div>



    <!-- end of team -->


<!-- Google map API,,,, real time -->

    <div class="services-section">
        <a href="#Dashboard" class="nav-links nav-links-btn">Dashboard</a>
        <div class="services-heading">
            <h1 id="Real Time">Real Time</h1>
        </div>
        <div id="map" style="height:300px;width:100%;border:0px solid #ccc;padding:10px;">
            <h3>Location</h3>
            <head>
                <style>
                  #map {
                    height: 300px;
                    width:100%;
                    }
                    .InfoWindow{
                      height: 100px;
                    }
                </style>
                <link rel="stylesheet" type="text/css" href="./style.css" />
                <script src="./index.js"></script>
              </head>


                <div id="map"></div>

                <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
                <script>
                  function initMap() {
                    const uluru = { lat: 34.241560, lng: -118.418834 };
                    const map = new google.maps.Map(document.getElementById("map"), {
                      zoom: 4,
                      center: uluru,
                    });

                    const marker = new google.maps.Marker({
                      position: uluru,
                      map: map,
                    });

                    //add popup window
                    const infowindow = new google.maps.InfoWindow({
                      content: 'Data Information: Type of Cars, Density, Numbers, Speed'
                    });

                    marker.addListener("click", function() {
                      infowindow.open(map, marker);
                    });
                  }
                </script>
                <script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDxWcdEjZr5cfH3wQ1cUd-t8hp5xfkpHh0&callback=initMap"></script>

        </div>
    </div>


    <div id="main" style="height:450px;width:600px;border:0px solid #ccc;padding:10px; float: left; position: relative;" ></div>
    <div id="main2" style="height:450px;width:600px;border:0px solid #ccc;padding:10px; float: right; position: relative;" ></div>
    <div id="main3" style="height:450px;width:600px;border:0px solid #ccc;padding:10px; float: left; position: relative;"></div>
    <div id="main4" style="height:450px;width:600px;border:0px solid #ccc;padding:10px; float: right; position: relative;"></div>
    <!-- script type="text/javascript" -->

    <script type="text/javascript">

    var myChart = echarts.init(document.getElementById('main'));
    var myChart2 = echarts.init(document.getElementById('main2'));
    var myChart3 = echarts.init(document.getElementById('main3'));
    var myChart4 = echarts.init(document.getElementById('main4'));

    myChart.setOption({

        title: {
            text: 'Numbers'
        },
        tooltip: {},
        legend: {
            data:['']
        },
        xAxis: {
            name:'Detection Zone/Frame ID',
            nameLocation:'middle',
            nameGap:30,
            nameTextStyle:{
                fontSize:18,
                fontWeight:'bold'
            },
            data: []
        },
        yAxis: {
            name:'Number of Vehicles',
            nameLocation:'middle',
            nameGap:30,
            nameTextStyle:{
                fontSize:18,
                fontWeight:'bold'
            },
            nameRotate:90,
            data: []
        },
        series: [
            {
            name: ' ',
            type: 'line',
            data: []
        },
            {
            name: ' ',
            type: 'line',
            data: []
        }
        ]
    });
    myChart2.setOption({

        title: {
            text: 'Classification'
        },
        tooltip: {},
        legend: {
            data:['label']
        },
         xAxis: {
            name:'Type of vehicles',
            nameLocation:'middle',
            nameGap:30,
            nameTextStyle:{
                fontSize:18,
                fontWeight:'bold'
            },
            data: []
        },
         yAxis: {
            name:'Number of Vehicles',
            nameLocation:'middle',
            nameGap:30,
            nameTextStyle:{
                fontSize:18,
                fontWeight:'bold'
            },
            nameRotate:90,
            data: []
        },
        series: [ {
            name: 'truck',
            type: 'bar',
            data: []
        }
        ]

    }
    );
    myChart3.setOption({

        title: {
            text: 'Density'
        },
        tooltip: {},
        legend: {
            data:['']
        },
        xAxis: {
            name:'Time',
            nameLocation:'middle',
            nameGap:30,
            nameTextStyle:{
                fontSize:18,
                fontWeight:'bold'
            },
            data: []
        },
        yAxis: {
            name:'%',
            nameLocation:'middle',
            nameGap:30,
            nameTextStyle:{
                fontSize:18,
                fontWeight:'bold'
            },
            nameRotate:90,
            data: []
        },
        series: [
            {
            name: ' ',
            type: 'line',
            data: []
        },
            {
            name: ' ',
            type: 'line',
            data: []
        }
        ]
    });
    myChart4.setOption({

        title: {
            text: 'Speed'
        },
        tooltip: {},
        legend: {
            data:['']
        },
        xAxis: {
            name:'Time',
            nameLocation:'middle',
            nameGap:30,
            nameTextStyle:{
                fontSize:18,
                fontWeight:'bold'
            },
            data: []
        },
        yAxis: {
            name:'%',
            nameLocation:'middle',
            nameGap:30,
            nameTextStyle:{
                fontSize:18,
                fontWeight:'bold'
            },
            nameRotate:90,
            data: []
        },
        series: [
            {
            name: ' ',
            type: 'line',
            data: []
        },
            {
            name: ' ',
            type: 'line',
            data: []
        }
        ]
    });
        var time = ["","","","","","","","","",""],
        truck = [0,0,0,0,0,0,0,0,0,0]
        vehicle = [0,0,0,0,0,0,0,0,0,0]

        var time2 = ["","","","","",""],
        truck2 = [0,0,0,0,0,0]
        vehicle2 = [0,0,0,0,0,0]

        var time3 = ["","","","","",""],
        truck3 = [0,0,0,0,0,0]
        vehicle3 = [0,0,0,0,0,0]

        var time4 = ["","","","","",""],
        truck4 = [0,0,0,0,0,0]
        vehicle4 = [0,0,0,0,0,0]
    //准备好统一的 callback 函数
    var update_mychart = function (res) {
    //res是json格式的response对象
        // 隐藏加载动画
        myChart.hideLoading();
        myChart2.hideLoading();
        myChart3.hideLoading();
        myChart4.hideLoading();
        //receive data
        let localData = res.preds;
        let countVehicle = 0,countTruck = 0;

        // 准备数据
        console.log(res);
        time.push(res.fid);
        truck.push(res.Truck);
        vehicle.push(res.Vehicle)
        if (time.length >= 10){
            time.shift();
            truck.shift();
            vehicle.shift();
        }

        time2.push(res.fid);
        truck2.push(res.Truck);
        vehicle2.push(res.Vehicle)
        if (time2.length >= 6){
            time2.shift();
            truck2.shift();
            vehicle2.shift();
        }

        time3.push(res.fid);
        truck.push(res.Truck);
        vehicle.push(res.Vehicle)
        if (time.length >= 10){
            time.shift();
            truck.shift();
            vehicle.shift();
        }

        time4.push(res.fid);
        truck.push(res.Truck);
        vehicle.push(res.Vehicle)
        if (time.length >= 10){
            time.shift();
            truck.shift();
            vehicle.shift();
        }



        // 填入数据
        myChart.setOption({
             legend: {
                data:[localData[0].label,localData[1].label,localData[2].label]
            // data:[res[0].label,res[1].label,res[2].label]
        },
            xAxis: {
                data: time
            },
            series: [{
                name: 'truck',
                // name: res[0].label , // 根据名字对应到相应的系列
                data: truck
            },
            {
                name:'vehicle',
                // name: res[0].label , // 根据名字对应到相应的系列
                data: vehicle
            }
            ]
        });
        myChart2.setOption({
             legend: {
                data:[localData[0].label,localData[1].label,localData[2].label]
            // data:[res[0].label,res[1].label,res[2].label]
        },
            xAxis: {
                data: ['truck','sedan','pick-up','car','suv','bus',]
            },
            series:  [ {
            name: 'truck',
            type: 'bar',
            data: vehicle2
            }
            ]
        });

        myChart3.setOption({
             legend: {
                data:[localData[0].label,localData[1].label,localData[2].label]
            // data:[res[0].label,res[1].label,res[2].label]
        },
            xAxis: {
                data: ['1min','5min','15min','20min','25min','30min',]
            },
            series: [{
                name: 'truck',
                // name: res[0].label , // 根据名字对应到相应的系列
                data: truck
            },
            {
                name:'vehicle',
                // name: res[0].label , // 根据名字对应到相应的系列
                data: vehicle
            }
            ]
        });
        myChart4.setOption({
             legend: {
                data:[localData[0].label,localData[1].label,localData[2].label]
            // data:[res[0].label,res[1].label,res[2].label]
        },
            xAxis: {
                data: ['1min','5min','15min','20min','25min','30min',]
            },
            series:  [ {
            name: 'truck',
            type: 'line',
            data: vehicle2
            }
            ]
        });


        };

    // 首次显示加载动画
    myChart.showLoading();
    myChart2.showLoading();
    myChart3.showLoading();
    myChart4.showLoading();


    // 建立socket连接，等待服务器“推送”数据，用回调函数更新图表
    $(document).ready(function() {
        namespace = '/test';
        var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + namespace);

        socket.on('server_response', function(res) {
            console.log(res.data)
            console.log(typeof(res.data))
            const result=JSON.parse(res.data);
            update_mychart(result);
        });

    });
    </script>



<script src="app.js"></script>
    <img src="{{url_for('video_feed')}}" width="80%" height="20%" alt="Real-Time Camera video">

  </body>

</html>