<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="/static/jQuery_mini.js"></script>
    <script type="text/javascript" src="/static/socket.io.min.js"></script>
    <script type="text/javascript" src="/static/echarts.min.js"></script>
    <script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDxWcdEjZr5cfH3wQ1cUd-t8hp5xfkpHh0&callback=initMap"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/content.css">
    <link rel="stylesheet" href="/static/gallery.css">
    <link rel="stylesheet" href="/static/styles.css">
    <title>AI-Vehicle Classfier</title>
</head>
<body>
    <div class="nav-container">
        <a id="Dashboard" class="nav-links nav-links-btn">Dashboard</a>
        <nav class="navbar">
            <h1 id="navbar-logo">AI-Vede</h1>
            <div class="menu-toggle" id="mobile-menu">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
            <ul class="nav-menu">

                <li><a href="#About" class="nav-links nav-links-btn">About</a></li>
                <li><a href="#Real Time" class="nav-links">Real time</a></li>
                <li><a href="#Team Member" class="nav-links">Team</a></li>
                <li><a href="#Contact" class="nav-links nav-links-btn">Contact</a></li>
            </ul>
        </nav>
    </div>

    <div class="main">
        <div class="main-container">
            <div class="main-content">
                <h1>Hi，AI-VeDe</h1>
                <p>Artificial intelligence vehicle detector. Through the LiDAR camera and bird-view camera. Apply to robotic applications and AI-driving.</p>
                <button class="main-btn"><a href="#">Welcome</a></button>
            </div>
            <div class="main-img-container">
                <img src="/static/images/point cloud.svg" alt="" id="main-image">
            </div>
        </div>
    </div>

    <div class="services-section">
        <div class="services-heading">
            <h1 id="Real Time">Real Time Video</h1>
        </div>
        <img src="{{url_for('video_feed')}}" width="1000px" height="500px" alt="Real-Time Camera video">
    </div>
    <!-- start of About page  -->

        <div class="services-section">
        <a href="#Dashboard" class="nav-links nav-links-btn">Dashboard</a>
        <div class="services-heading">
            <h1 id="About">About</h1>
        </div>

        <div class="services">
            <div class="services-cell">
                <img src="/static/images/light gray.jpg" alt="" class="services-cell_img">
                <div class="services-cell_text">
                    Data Base
                    <p style='font-size:xx-small;'>Labeling data, design database, Design ERD diagram for database that including vehicle and  detection zone information, calculate the vehicle speed based on 3D LiDAR point cloud data</p>

                </div>

            </div>

            <div class="services-cell">
                <img src="/static/images/light gray.jpg" alt="" class="services-cell_img">
                <div class="services-cell_text">
                    Machine Learning
                    <p style="font-size: xx-small;">Training model to predict an object,Accepting the data, Grouping the data,Filtering out unnecessary data, Classifying Data into descriptive shapes for object recognition</p>
                </div>
            </div>

            <div class="services-cell">
                <img src="/static/images/light gray.jpg" alt="" class="services-cell_img">
                <div class="services-cell_text">
                    Camera Setup
                    <p style="font-size: xx-small;">Set up the camera on a car to collect data, participate design part for LiDAR and set up 2D camera top of LiDAR Casing.</p>
                </div>
            </div>

            <div class="services-cell">
                <img src="/static/images/light gray.jpg" alt="" class="services-cell_img">
                <div class="services-cell_text">
                    Front end
                    <p style="font-size: xx-small;">Design GUI and generate the website</p>
                </div>
            </div>

            <div class="services-cell">
                <img src="/static/images/light gray.jpg" alt="" class="services-cell_img">
                <div class="services-cell_text">
                    Back end
                    <p style='font-size:xx-small;'>Connect database and ML model,frontend, retrieve data, Integrating CSS\HTML\Javascript to Flask, integrate machine learning model to Flask.</p>
                </div>
            </div>

            <div class="services-cell">
                <img src="/static/images/light gray.jpg" alt="" class="services-cell_img">
                
                <div class="services-cell_text">
                    Real Time Traffic Flow
                    <p style="font-size: xx-small;">system can input rapidly changing data and then provide output instantaneously</p>
                    
                </div>
            </div>
        </div>
    </div>


    <!-- end of About page  -->

    <!-- start of team -->

    <div class="services-section-2">
    <a href="#Dashboard" class="nav-links nav-links-btn">Dashboard</a>
    <div class="services-heading-2">
        <h1 id="Team Member">Team Member</h1>
    </div>

    <div class="services">
        <div class="services-cell">
            <img src="/static/images/light gray.jpg" alt="" class="services-cell_img">
            <div class="services-cell_text">Xudong Jia</div>
        </div>

        <div class="services-cell">
            <img src="/static/images/light gray.jpg" alt="" class="services-cell_img">
            <div class="services-cell_text">Bingbing Li</div>
        </div>

        <div class="services-cell">
            <img src="/static/images/light gray.jpg" alt="" class="services-cell_img">
            <div class="services-cell_text">Xunfei Jiang</div>
        </div>

        <div class="services-cell">
            <img src="/static/images/light gray.jpg" alt="" class="services-cell_img">
            <div class="services-cell_text">Tongzi Wu</div>
        </div>

        <div class="services-cell">
            <img src="/static/images/light gray.jpg" alt="" class="services-cell_img">
            <div class="services-cell_text">Chen Li</div>
        </div>


        <div class="services-cell">
            <img src="/static/images/light gray.jpg" alt="" class="services-cell_img">
            <div class="services-cell_text">Senior Design Team</div>
        </div>
        </div>
    </div>

    <div class="services-section">
        <a href="#Dashboard" class="nav-links nav-links-btn">Dashboard</a>
        <div class="services-heading">
            <h1 id="Real Time">Real Time</h1>
        </div>
        <!--  style="height:300px;width:100%;border:0px solid #ccc;padding:10px;" -->
        <div id="map">
            <!-- <div id="map"></div> -->
        </div>
    </div>


    <div id="main" style="height:450px;width:600px;border:0px solid #ccc;padding:10px; float: left; position: relative;" ></div>
    <div id="main2" style="height:450px;width:600px;border:0px solid #ccc;padding:10px; float: right; position: relative;" ></div>
    <div id="main3" style="height:450px;width:600px;border:0px solid #ccc;padding:10px; float: left; position: relative;"></div>
    <div id="main4" style="height:450px;width:600px;border:0px solid #ccc;padding:10px; float: right; position: relative;"></div>
    <!-- script type="text/javascript" -->
    <!-- <script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDxWcdEjZr5cfH3wQ1cUd-t8hp5xfkpHh0&callback=initMap"></script> -->
    <script src="/static/map.js"></script>
    <script src="/static/chart.js"></script>
    <script src="/static/app.js"></script>

  </body>

</html>