<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Real Time Data</title>
    <script type="text/javascript" src="../static/js/jQuery_mini.js"></script>
    <script type="text/javascript" src="../static/js/socket.io.min.js"></script>
    <!-- ECharts 3  -->
    <script src="../static/js/echarts.min.js"></script>
   
</head>
 
<body style = "background-color: #A9A9A9;">

    <div id="map" style="height:300px;width:100%;border:0px solid #ccc;padding:10px;">
        <h3>Location</h3>
        <head>
            <style>
              #map {
                height: 300px;
                width:100%;
                }
                .InfoWindow{
                  height: 100px;
                }
            </style>
            
        
            <link rel="stylesheet" type="text/css" href="./style.css" />
            <script src="./index.js"></script>
          </head>
          <body>
            <h3>Location</h3>
            <div id="map"></div>
        
            <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
            <script>
              function initMap() {
                const uluru = { lat: 34.241560, lng: -118.418834 };
                const map = new google.maps.Map(document.getElementById("map"), {
                  zoom: 4,
                  center: uluru,
                });
        
        
        
                const marker = new google.maps.Marker({
                  position: uluru,
                  map: map,
                });
        
        
        
                //add popup window
                const infowindow = new google.maps.InfoWindow({
                  content: 'Data Information: Type of Cars, Density, Numbers, Speed'
                });
        
                marker.addListener("click", function() {
                  infowindow.open(map, marker);
                });
              }
            </script>
            <script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDxWcdEjZr5cfH3wQ1cUd-t8hp5xfkpHh0&callback=initMap"></script>

    </div>


    <div id="main" style="height:450px;width:600px;border:0px solid #ccc;padding:10px; float: left; position: relative;" ></div>
    <div id="main2" style="height:450px;width:600px;border:0px solid #ccc;padding:10px; float: right; position: relative;" ></div>
    <div id="main3" style="height:450px;width:600px;border:0px solid #ccc;padding:10px; float: left; position: relative;"></div>
    <div id="main4" style="height:450px;width:600px;border:0px solid #ccc;padding:10px; float: right; position: relative;"></div>
    <!-- script type="text/javascript" -->

    <script type="text/javascript">
 
    var myChart = echarts.init(document.getElementById('main'));
    var myChart2 = echarts.init(document.getElementById('main2'));
    var myChart3 = echarts.init(document.getElementById('main3'));
    var myChart4 = echarts.init(document.getElementById('main4'));
 
    myChart.setOption({
        
        title: {
            text: 'Numbers'
        },
        tooltip: {},
        legend: {
            data:['']
        },
        xAxis: {
            name:'Detection Zone/Frame ID',
            nameLocation:'middle',
            nameGap:30,
            nameTextStyle:{
                fontSize:18,
                fontWeight:'bold'
            },
            data: []
        },
        yAxis: {
            name:'Number of Vehicles',
            nameLocation:'middle',
            nameGap:30,
            nameTextStyle:{
                fontSize:18,
                fontWeight:'bold'
            },
            nameRotate:90,
            data: []
        },
        series: [
            {
            name: ' ',
            type: 'line',
            data: []
        },
            {
            name: ' ',
            type: 'line',
            data: []
        }
        ]
    });
    myChart2.setOption({

        title: {
            text: 'Classification'
        },
        tooltip: {},
        legend: {
            data:['label']
        },
         xAxis: {
            name:'Type of vehicles',
            nameLocation:'middle',
            nameGap:30,
            nameTextStyle:{
                fontSize:18,
                fontWeight:'bold'
            },
            data: []
        },
         yAxis: {
            name:'Number of Vehicles',
            nameLocation:'middle',
            nameGap:30,
            nameTextStyle:{
                fontSize:18,
                fontWeight:'bold'
            },
            nameRotate:90,
            data: []
        },
        series: [ {
            name: 'truck',
            type: 'bar',
            data: []
        }
        ]

    }
    );
    myChart3.setOption({
        
        title: {
            text: 'Density'
        },
        tooltip: {},
        legend: {
            data:['']
        },
        xAxis: {
            name:'Time',
            nameLocation:'middle',
            nameGap:30,
            nameTextStyle:{
                fontSize:18,
                fontWeight:'bold'
            },
            data: []
        },
        yAxis: {
            name:'%',
            nameLocation:'middle',
            nameGap:30,
            nameTextStyle:{
                fontSize:18,
                fontWeight:'bold'
            },
            nameRotate:90,
            data: []
        },
        series: [
            {
            name: ' ',
            type: 'line',
            data: []
        },
            {
            name: ' ',
            type: 'line',
            data: []
        }
        ]
    });
    myChart4.setOption({

        title: {
            text: 'Speed'
        },
        tooltip: {},
        legend: {
            data:['']
        },
        xAxis: {
            name:'Time',
            nameLocation:'middle',
            nameGap:30,
            nameTextStyle:{
                fontSize:18,
                fontWeight:'bold'
            },
            data: []
        },
        yAxis: {
            name:'%',
            nameLocation:'middle',
            nameGap:30,
            nameTextStyle:{
                fontSize:18,
                fontWeight:'bold'
            },
            nameRotate:90,
            data: []
        },
        series: [
            {
            name: ' ',
            type: 'line',
            data: []
        },
            {
            name: ' ',
            type: 'line',
            data: []
        }
        ]
    });
        var time = ["","","","","","","","","",""],
        truck = [0,0,0,0,0,0,0,0,0,0]
        suv = [0,0,0,0,0,0,0,0,0,0]
        bus = [0,0,0,0,0,0,0,0,0,0]
        van = [0,0,0,0,0,0,0,0,0,0]
        pickup = [0,0,0,0,0,0,0,0,0,0]
        sedan = [0,0,0,0,0,0,0,0,0,0]

        var time2 = ["","","","","",""],
        truck2 = [0,0,0,0,0,0]
        suv2 = [0,0,0,0,0,0]
        bus2 = [0,0,0,0,0,0]
        van2 = [0,0,0,0,0,0]
        pickup2 = [0,0,0,0,0,0]
        sedan2 = [0,0,0,0,0,0]

        var time3 = ["","","","","",""],
        truck3 = [0,0,0,0,0,0]
        suv3 = [0,0,0,0,0,0]
        bus3 = [0,0,0,0,0,0]
        van3 = [0,0,0,0,0,0]
        pickup3 = [0,0,0,0,0,0]
        sedan3 = [0,0,0,0,0,0]

        var time4 = ["","","","","",""],
        truck4 = [0,0,0,0,0,0]
        suv4 = [0,0,0,0,0,0]
        bus4 = [0,0,0,0,0,0]
        van4= [0,0,0,0,0,0]
        pickup4 = [0,0,0,0,0,0]
        sedan4 = [0,0,0,0,0,0]


    //准备好统一的 callback 函数
    var update_mychart = function (res) {
    //res是json格式的response对象
        // 隐藏加载动画
        myChart.hideLoading();
        myChart2.hideLoading();
        myChart3.hideLoading();
        myChart4.hideLoading();
        //recive data
        let localData = res.preds;
        let countSuv = 0,countTruck = 0,countBus = 0, countVan = 0, countPickup = 0, countSedan = 0;
        
        // 准备数据
        time.push(res.fid);
        truck.push(res.truck);
        suv.push(res.suv);
        bus.push(res.bus);
        van.push(res.van);
        pickup.push(res.pickup);
        sedan.push(res.sedan)

        if (time.length >= 10){
            time.shift();
            truck.shift();
            suv.shift();
            bus.shift();
            van.shift();
            pickup.shift();
            sedan.shift();
        }

        time2.push(res.fid);
        truck2.push(res.Truck);
        suv2.push(res.suv);
        bus2.push(res.bus);
        van2.push(res.van);
        pickup2.push(res.pickup);
        sedan2.push(res.sedan)
        if (time2.length >= 6){
            time2.shift();
            truck2.shift();
            suv2.shift();
            bus2.shift();
            van2.shift();
            pickup2.shift();
            sedan2.shift();
        }

        time3.push(res.fid);
        truck3.push(res.Truck);
        suv3.push(res.suv)
        bus3.shift();
        van3.shift();
        pickup3.shift();
        sedan3.shift();
        if (time3.length >= 10){
            time3.shift();
            truck3.shift();
            suv3.shift();
            bus3.shift();
            van3.shift();
            pickup3.shift();
            sedan3.shift();
        }

        time4.push(res.fid);
        truck4.push(res.Truck);
        suv4.push(res.suv);
        bus4.push(res.bus);
        van4.push(res.van);
        pickup4.push(res.pickup);
        sedan4.push(res.sedan)
        if (time4.length >= 10){
            time4.shift();
            truck4.shift();
            suv4.shift();
            bus4.shift();
            van4.shift();
            pickup4.shift();
            sedan4.shift();
        }



        // 填入数据
        myChart.setOption({
             legend: {
                data:[localData[0].label,localData[1].label,localData[2].label]
            // data:[res[0].label,res[1].label,res[2].label]
        },
            xAxis: {
                data: time
            },
            series: [{
                name: 'truck',
                // name: res[0].label , // 根据名字对应到相应的系列
                data: truck
            },
            {
                name:'suv',
                // name: res[0].label , // 根据名字对应到相应的系列
                data: suv
            },
                {
                name:'bus',
                // name: res[0].label , // 根据名字对应到相应的系列
                data: bus
            },
                {
                name:'pickup',
                // name: res[0].label , // 根据名字对应到相应的系列
                data: pickup
            },
                {
                name:'sedan',
                // name: res[0].label , // 根据名字对应到相应的系列
                data: sedan
            },
                {
                name:'van',
                // name: res[0].label , // 根据名字对应到相应的系列
                data: van
            }

            ]
        });
        myChart2.setOption({
             legend: {
                data:[localData[0].label,localData[1].label,localData[2].label]
            // data:[res[0].label,res[1].label,res[2].label]
        },
            xAxis: {
                data: ['truck','sedan','pickup','van','suv','bus',]
            },
            series:  [ {
            name: 'truck',
            type: 'bar',
            data: truck2
            },
                {
            name: 'sedan',
            type: 'bar',
            data: sedan2
            },
                {
            name: 'pickup',
            type: 'bar',
            data: pickup2
            },
                {
            name: 'van',
            type: 'bar',
            data: van2
            },
                {
            name: 'suv',
            type: 'bar',
            data: suv2
            },
                {
            name: 'bus',
            type: 'bar',
            data: bus2
            }
            ]
        });

        myChart3.setOption({
             legend: {
                data:[localData[0].label,localData[1].label,localData[2].label]
            // data:[res[0].label,res[1].label,res[2].label]
        },
            xAxis: {
                data: time
            },
            series: [{
                name: 'truck',
                // name: res[0].label , // 根据名字对应到相应的系列
                data: truck3
            },
            {
                name:'suv',
                // name: res[0].label , // 根据名字对应到相应的系列
                data: suv3
            },
                {
                name:'bus',
                // name: res[0].label , // 根据名字对应到相应的系列
                data: bus3
            },
                {
                name:'pickup',
                // name: res[0].label , // 根据名字对应到相应的系列
                data: pickup3
            },
                {
                name:'sedan',
                // name: res[0].label , // 根据名字对应到相应的系列
                data: sedan3
            },
                {
                name:'van',
                // name: res[0].label , // 根据名字对应到相应的系列
                data: van3
            }

            ]
        });
        myChart4.setOption({
             legend: {
                data:[localData[0].label,localData[1].label,localData[2].label]
            // data:[res[0].label,res[1].label,res[2].label]
        },
            xAxis: {
                data: ['truck','sedan','pickup','van','suv','bus',]
            },
            series:  [ {
            name: 'truck',
            type: 'bar',
            data: truck4
            },
                {
            name: 'sedan',
            type: 'bar',
            data: sedan4
            },
                {
            name: 'pickup',
            type: 'bar',
            data: pickup4
            },
                {
            name: 'van',
            type: 'bar',
            data: van4
            },
                {
            name: 'suv',
            type: 'bar',
            data: suv4
            },
                {
            name: 'bus',
            type: 'bar',
            data: bus4
            }
            ]
        });


        };

    // 首次显示加载动画
    myChart.showLoading();
    myChart2.showLoading();
    myChart3.showLoading();
    myChart4.showLoading();
 
 
    // 建立socket连接，等待服务器“推送”数据，用回调函数更新图表
    $(document).ready(function() {
        namespace = '/test';
        var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + namespace);
 
        socket.on('server_response', function(res) {
            console.log(res.data)
            console.log(typeof(res.data))
            const result=JSON.parse(res.data);
            update_mychart(result);
        });
 
    });
 
    </script>
</body>
</html>
