<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Cal Trans</title>
    <script type="text/javascript" src="../static/js/jQuery_mini.js"></script>
    <script type="text/javascript" src="../static/js/socket.io.min.js"></script>
    <!-- ECharts 3  -->
    <script src="../static/js/echarts.min.js"></script>
    <!-- 下面是新增html部分 -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="\static\css\style.css">


</head>



<body>

    <!--  start of the main page，nav bar  -->
    <div class="nav-container">
        <a id="Dashboard" class="nav-links nav-links-btn">Dashboard</a>
        <nav class="navbar">
            <h1 id="navbar-logo">AI-Vede</h1>
            <div class="menu-toggle" id="mobile-menu">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
            <ul class="nav-menu">

                <li><a href="#About" class="nav-links nav-links-btn">About</a></li>
                <li><a href="#Team Member" class="nav-links">Team</a></li>
                <li><a href="#2D Detection" class="nav-links nav-links-btn">2D Detection</a></li>
                <li><a href="#Real Time" class="nav-links">Real time</a></li>
            </ul>
        </nav>
    </div>



    <div class="main">
        <div class="main-container">
            <div class="main-content">
                <h1>Hi，AI-VeDe</h1>
                <p>Artificial intelligence vehicle detector. Through the LiDAR camera and bird-view camera. Apply to robotic applications and AI-driving.</p>
                <button class="main-btn"><a href="#">Welcome</a></button>
            </div>
            <div class="main-img-container">
                <img src="\images\pointcloud.svg" alt="" id="main-image">
            </div>
        </div>
    </div>
    <!--  end of the main page, nav bar  -->



    <!--start of About page-->
    <div class="services-section">
        <a href="#Dashboard" class="nav-links nav-links-btn">Dashboard</a>
        <div class="services-heading">
            <h1 id="About">About</h1>
        </div>

        <div class="services">
            <div class="services-cell">
                <img src="\images\light gray.jpg" alt="" class="services-cell_img">
                <div class="services-cell_text">
                    Data Base
                    <p style='font-size:xx-small;'>Labeling data, design database, Design ERD diagram for database that including vehicle and  detection zone information, calculate the vehicle speed based on 3D LiDAR point cloud data</p>

                </div>

            </div>

            <div class="services-cell">
                <img src="\images\light gray.jpg" alt="" class="services-cell_img">
                <div class="services-cell_text">
                    Machine Learning
                    <p style="font-size: xx-small;">Training model to predict an object,Accepting the data, Grouping the data,Filtering out unnecessary data, Classifying Data into descriptive shapes for object recognition</p>
                </div>
            </div>

            <div class="services-cell">
                <img src="\images\light gray.jpg" alt="" class="services-cell_img">
                <div class="services-cell_text">
                    Camera Setup
                    <p style="font-size: xx-small;">Set up the camera on a car to collect data, participate design part for LiDAR and set up 2D camera top of LiDAR Casing.</p>
                </div>
            </div>

            <div class="services-cell">
                <img src="\images\light gray.jpg" alt="" class="services-cell_img">
                <div class="services-cell_text">
                    Front end
                    <p style="font-size: xx-small;">Design GUI and generate the website</p>
                </div>
            </div>

            <div class="services-cell">
                <img src="\images\light gray.jpg" alt="" class="services-cell_img">
                <div class="services-cell_text">
                    Back end
                    <p style='font-size:xx-small;'>Connect database and ML model,frontend, retrieve data, Integrating CSS\HTML\Javascript to Flask, integrate machine learning model to Flask.</p>
                </div>
            </div>

            <div class="services-cell">
                <img src="\images\light gray.jpg" alt="" class="services-cell_img">
                <div class="services-cell_text">
                    Real Time Traffic Flow
                    <p style="font-size: xx-small;">system can input rapidly changing data and then provide output instantaneously</p>
                </div>
            </div>
        </div>
    </div>
    <!-- end of About page -->



    <!-- start of team -->
    <div class="services-section-2">
        <a href="#Dashboard" class="nav-links nav-links-btn">Dashboard</a>
        <div class="services-heading-2">
            <h1 id="Team Member">Team Member</h1>
        </div>

        <div class="services">
            <div class="services-cell">
                <img src="\images\light gray.jpg" alt="" class="services-cell_img">
                <div class="services-cell_text">Xudong Jia</div>
            </div>

            <div class="services-cell">
                <img src="\images\light gray.jpg" alt="" class="services-cell_img">
                <div class="services-cell_text">Bingbing Li</div>
            </div>

            <div class="services-cell">
                <img src="\images\light gray.jpg" alt="" class="services-cell_img">
                <div class="services-cell_text">Xunfei Jiang</div>
            </div>

            <div class="services-cell">
                <img src="\images\light gray.jpg" alt="" class="services-cell_img">
                <div class="services-cell_text">Tongzi Wu</div>
            </div>

            <div class="services-cell">
                <img src="\images\light gray.jpg" alt="" class="services-cell_img">
                <div class="services-cell_text">Chen Li</div>
            </div>


            <div class="services-cell">
                <img src="\images\light gray.jpg" alt="" class="services-cell_img">
                <div class="services-cell_text">Senior Design Team</div>
            </div>
            </div>
        </div>
    <!-- end of team -->

    <!-- start of 2D detection -->
    <div class="services-section">
        <a href="#Dashboard" class="nav-links nav-links-btn">Dashboard</a>
        <div class="services-heading-2">
            <h1 id="2D Detection">2D Detection</h1>

        </div>
    </div>

    <!-- end of 2D detection -->



    <!--  Start of Google map -->
    <div class="services-section">
        <a href="#Dashboard" class="nav-links nav-links-btn">Dashboard</a>
        <div class="services-heading">
            <h1 id="Real Time">Real Time</h1>
        </div>
        <div id="map" style="height:300px;width:100%;border:0px solid #ccc;padding:10px;">
        <h3>Location</h3>
        <head>
            <style>
              #map {
                height: 300px;
                width:100%;
                }
                .InfoWindow{
                  height: 100px;
                }
            </style>


            <link rel="stylesheet" type="text/css" href="./style.css" />
            <script src="./index.js"></script>
          </head>
          <body>
            <h3>Location</h3>
            <div id="map"></div>

            <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
            <script>
              function initMap() {
                const uluru = { lat: 34.241560, lng: -118.418834 };
                const map = new google.maps.Map(document.getElementById("map"), {
                  zoom: 4,
                  center: uluru,
                });



                const marker = new google.maps.Marker({
                  position: uluru,
                  map: map,
                });



                //add popup window
                const infowindow = new google.maps.InfoWindow({
                  content: 'Data Information: Type of Cars, Density, Numbers, Speed'
                });

                marker.addListener("click", function() {
                  infowindow.open(map, marker);
                });
              }
            </script>
            <script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDxWcdEjZr5cfH3wQ1cUd-t8hp5xfkpHh0&callback=initMap"></script>

    </div>
    </div>
    <!-- end of google map  -->



    <!--start of realtime chatrs -->
    <div>
        <div id="main" style="height:450px;width:600px;border:0px solid #ccc;padding:10px; float: left; position: relative;" ></div>
        <div id="main2" style="height:450px;width:600px;border:0px solid #ccc;padding:10px; float: right; position: relative;" ></div>
        <div id="main3" style="height:450px;width:600px;border:0px solid #ccc;padding:10px; float: left; position: relative;"></div>
        <div id="main4" style="height:450px;width:600px;border:0px solid #ccc;padding:10px; float: right; position: relative;"></div>

    </div>
        <!-- script type="text/javascript" -->

        <script type="text/javascript">

        var myChart = echarts.init(document.getElementById('main'));
        var myChart2 = echarts.init(document.getElementById('main2'));
        var myChart3 = echarts.init(document.getElementById('main3'));
        var myChart4 = echarts.init(document.getElementById('main4'));

        myChart.setOption({

            title: {
                text: 'Numbers'
            },
            tooltip: {},
            legend: {
                data:['']
            },
            xAxis: {
                name:'Frame ID',
                nameLocation:'middle',
                nameGap:30,
                nameTextStyle:{
                    fontSize:18,
                    fontWeight:'bold'
                },
                data: []
            },
            yAxis: {
                name:'Number of Vehicles',
                nameLocation:'middle',
                nameGap:30,
                nameTextStyle:{
                    fontSize:18,
                    fontWeight:'bold'
                },
                nameRotate:90,
                data: []
            },
            series: [
                {
                name: ' ',
                type: 'line',
                data: []
            },
                {
                name: ' ',
                type: 'line',
                data: []
            }
            ]
        });
        myChart2.setOption({

            title: {
                text: 'Classification'
            },
            tooltip: {},
            legend: {
                data:['label']
            },
            xAxis: {
                name:'Frame ID',
                nameLocation:'middle',
                nameGap:30,
                nameTextStyle:{
                    fontSize:18,
                    fontWeight:'bold'
                },
                data: []
            },
            yAxis: {
                name:'Number of Vehicles',
                nameLocation:'middle',
                nameGap:30,
                nameTextStyle:{
                    fontSize:18,
                    fontWeight:'bold'
                },
                nameRotate:90,
                data: []
            },
            series: [ {
                name: 'truck',
                type: 'bar',
                data: []
            }
            ]

        }
        );
        myChart3.setOption({

            title: {
                text: 'Speed'
            },
            tooltip: {},
            legend: {
                data:['']
            },
            xAxis: {
                name:'Time',
                nameLocation:'middle',
                nameGap:30,
                nameTextStyle:{
                    fontSize:18,
                    fontWeight:'bold'
                },
                data: []
            },
            yAxis: {
                name:'mph',
                nameLocation:'middle',
                nameGap:30,
                nameTextStyle:{
                    fontSize:18,
                    fontWeight:'bold'
                },
                nameRotate:90,
                data: []
            },
            series: [
                {
                name: ' ',
                type: 'line',
                data: []
            },
                {
                name: ' ',
                type: 'line',
                data: []
            }
            ]
        });
        myChart4.setOption({

            title: {
                text: 'Density'
            },
            tooltip: {},
            legend: {
                data:['']
            },
            xAxis: {
                name:'Time',
                nameLocation:'middle',
                nameGap:30,
                nameTextStyle:{
                    fontSize:18,
                    fontWeight:'bold'
                },
                data: []
            },
            yAxis: {
                name:'%',
                nameLocation:'middle',
                nameGap:30,
                nameTextStyle:{
                    fontSize:18,
                    fontWeight:'bold'
                },
                nameRotate:90,
                data: []
            },
            series: [
                {
                name: ' ',
                type: 'line',
                data: []
            },
                {
                name: ' ',
                type: 'line',
                data: []
            }
            ]
        });
            var time = ["","","","","","","","","",""],
            truck = [0,0,0,0,0,0,0,0,0,0]
            pickup = [0,0,0,0,0,0,0,0,0,0]
            suv = [0,0,0,0,0,0,0,0,0,0]
            sedan = [0,0,0,0,0,0,0,0,0,0]
            bus = [0,0,0,0,0,0,0,0,0,0]
            van = [0,0,0,0,0,0,0,0,0,0]

            var time2 = ["","","","","",""],
            truck2 = [0,0,0,0,0,0]
            pickup2 = [0,0,0,0,0,0]
            suv2 = [0,0,0,0,0,0]
            sedan2 = [0,0,0,0,0,0]
            bus2 = [0,0,0,0,0,0]
            van2 = [0,0,0,0,0,0]

            var time3 = ["","","","","",""],
            speed=[""]

            var time4 = ["","","","","",""],
            density=[""]


        //prepare callback function
        var update_mychart = function (res) {

            //res is json style,,, response objects
            // hiding loading animation
            myChart.hideLoading();
            myChart2.hideLoading();
            myChart3.hideLoading();
            myChart4.hideLoading();

            //receive data
            let localData = res.preds;
            let countPickup = 0,countTruck = 0,countSuv = 0,countSedan = 0,countBus = 0,countVan = 0;

            // prepare data
            console.log(res);
            time.push(res.fid);
            truck.push(res.Truck);
            pickup.push(res.Pickup);
            sedan.push(res.Sedan);
            suv.push(res.Suv);
            bus.push(res.Bus);
            van.push(res.Van)
            if (time.length >= 10){
                time.shift();
                truck.shift();
                pickup.shift();
                suv.shift();
                sedan.shift();
                bus.shift();
                van.shift();
            }

            time2.push(res.fid);
            truck2.push(res.Truck);
            pickup2.push(res.Pickup);
            sedan2.push(res.Sedan);
            suv2.push(res.Suv);
            bus2.push(res.Bus);
            van2.push(res.Van)
            if (time2.length >= 6){
                time2.shift();
                truck2.shift();
                pickup2.shift();
                suv2.shift();
                sedan2.shift();
                bus2.shift();
                van2.shift();
            }

            time3.push(res.fid);
            speed.push(res.speed)
            if (time.length >= 10){
                time.shift();
                speed.shift();
            }

            time4.push(res.fid);
            density.push(res.density)
            if (time.length >= 10){
                time.shift();
                density.shift();
            }



            // write data
            myChart.setOption({
                legend: {
                    data:[localData[0].label,localData[1].label,localData[2].label,localData[3].label,localData[4].label,localData[5].label]
                // data:[res[0].label,res[1].label,res[2].label]
            },
                xAxis: {
                    data: time
                },
                series: [{
                    name: 'truck',
                    type: 'line',
                    data: truck
                },
                {
                    name:'pickup',
                    type: 'line',
                    data: pickup
                },
                {
                    name: 'suv',
                    type: 'line',
                    data: suv
                },
                {
                    name: 'sedan',
                    type: 'line',
                    data: sedan
                },
                {
                    name: 'bus',
                    type: 'line',
                    data: bus
                },
                {
                    name: 'van',
                    type: 'line',
                    data: van
                },
                ]
            });
            myChart2.setOption({
                legend: {
                    data:[localData[0].label,localData[1].label,localData[2].label,localData[3].label,localData[4].label,localData[5].label]
            },
                xAxis: {
                    data: time
                },
                series:  [ {
                name: 'truck',
                type: 'bar',
                data: truck2
                },
                    {
                name: 'pickup',
                type: 'bar',
                data: pickup2
                },
                    {
                name: 'suv',
                type: 'bar',
                data: suv2
                },
                    {
                name: 'sedan',
                type: 'bar',
                data: sedan2
                },
                    {
                name: 'bus',
                type: 'bar',
                data: bus2
                },
                    {
                name: 'van',
                type: 'bar',
                data: van2
                }
                ]
            });

            myChart3.setOption({
                legend: {
                    data:[localData[0].label,localData[1].label,localData[2].label]
            },
                xAxis: {
                    data: ['1min','5min','15min','20min','25min','30min',]
                },
                series: [{
                    name: 'speed',
                    data: speed
                }
                ]
            });
            myChart4.setOption({
                legend: {
                    data:[localData[0].label,localData[1].label,localData[2].label]
            },
                xAxis: {
                    data: ['1min','5min','15min','20min','25min','30min',]
                },
                series:  [ {
                    name: 'density',
                    type: 'line',
                    data: density
                }
                ]
            });


            };

        // show the lodaing animation
        myChart.showLoading();
        myChart2.showLoading();
        myChart3.showLoading();
        myChart4.showLoading();


        // make socket connection and wait for server to push data, then update the cahrts
        $(document).ready(function() {
            namespace = '/test';
            var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + namespace);

            socket.on('server_response', function(res) {
                console.log(res.data)
                console.log(typeof(res.data))
                const result=JSON.parse(res.data);
                update_mychart(result);
            });

        });

        </script>
    <!-- end of realtime charts -->




</body> <!--end of page-->
</html>
